<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Meal Maestro</title>
    <body>
    <h1> Welcome to Meal Maestro!</h1>
    <p> In order for this to work you'll need to share access to your Google sheet with:
        mm-importer@mealmaestro-199003.iam.gserviceaccount.com</p>
    <button> Start Import </button>
    <div>Relay 1:
     <form action= '{% url my_view_name%}' method="POST">
      <input type="submit" value="Toggle" id="toggle1" />
  </form>
</div>

</body>
</head>
<body>

</body>
</html>