<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Meal Maestro</title>
    <body>
    <h1> Welcome to Meal Maestro!</h1>
    <p> In order for this to work you'll need to share access to your Google sheet with:
        mm-importer@mealmaestro-199003.iam.gserviceaccount.com</p>
    <button> Start Import </button>
    <div>Relay 1:
     <form action="submit" method="post">
    <input type="text" name="info"><br>
    <input type="submit" value="Submit">
</form>
</div>

</body>
</head>
<body>

</body>
</html>